p {
  display: grid;
}

label {
  margin-right: 8px;
}

// input {
//   display: flex;
// }

.slackNotification {
  &__content {
    display: flex;
  }
  // &__submit {
  //   :active {
  //   }
  // }
  &__result {
    display: none;
  }
}
