// フォントサイズ
$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-large: 18px;
$font-size-xlarge: 24px;

// フォントファミリー
$font-family-base: 'Helvetica Neue', Arial, sans-serif;
$font-family-code:
  source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

// フォントウェイト
$font-weight-normal: 400;
$font-weight-bold: 700;

// 行の高さ
$line-height-base: 1.5;
$line-height-heading: 1.2;
