@use '../../../styles/index.scss' as *;

.issue-card {
  border: 1px solid $border-color;
  border-radius: $border-radius-md;
  padding: $spacing-md;
  margin-bottom: $spacing-md;
  background-color: $white;

  h3 {
    margin-top: 0;
    margin-bottom: $spacing-sm;

    a {
      color: $primary-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .issue-meta {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: $spacing-md;
    font-size: 1$spacing-xs;
    color: $secondary-text-color;
  }

  .issue-actions {
    button {
      background-color: $success-color;
      color: white;
      border: none;
      padding: 6px 12px;
      border-radius: $border-radius-md;
      cursor: pointer;

      &:hover {
        background-color: $success-hover-color;
      }
    }

    button:nth-child(1) {
      background-color: $success-color;

      &:hover {
        background-color: $success-hover-color;
      }
    }

    button:nth-child(2) {
      background-color: $primary-color;

      &:hover {
        background-color: $primary-hover-color;
      }
    }
  }
}
